[flake8]
max-line-length = 120
max-complexity = 10
select = C,E,F,W,B
ignore = E203,E501,W503,B950
exclude =
    .git,
    __pycache__,
    *.egg-info,
    .nox,
    .pytest_cache,
    .mypy_cache,
    sandbox
per-file-ignores =
    validmind/__init__.py: E402
