[tool.poetry]
authors = [
  "Andres Rodriguez <andres@validmind.ai>",
  "Juan Martinez <juan@validmind.ai>",
  "Anil Sorathiya <anil@validmind.ai>",
  "Luis Pallares <luis@validmind.ai>",
  "John Halz <john@validmind.ai>",
]
description = "ValidMind Developer Framework"
license = "Commercial License"
name = "validmind"
readme = "README.pypi.md"
version = "1.19.2"

[tool.poetry.dependencies]
aiohttp = {extras = ["speedups"], version = "^3.8.4"}
arch = "^5.4.0"
catboost = "^1.2"
click = "^8.0.4"
dython = "^0.7.1"
ipython = "7.34.0"
ipywidgets = "^8.0.6"
markdown = "^3.4.3"
nltk = "^3.8.1"
numpy = "1.22.3"
openai = {version = "^0.27.8", optional = true}
pandas = "1.5.3"
pandas-profiling = "^3.6.6"
pdoc = "^13.1.1"
plotly = "^5.14.1"
plotly-express = "^0.4.1"
pydantic = "^1.9.1"
pypmml = "^0.9.17"
python = ">=3.8,<3.11"
python-dotenv = "^0.20.0"
requests = "^2.27.1"
rpy2 = {version = "^3.5.10", optional = true}
scikit-learn = "^1.0.2"
seaborn = "^0.11.2"
sentry-sdk = "^1.24.0"
shap = "^0.41.0"
statsmodels = "^0.13.5"
tabulate = "^0.8.9"
torch = {version = ">=1.10.0", optional = true}
tqdm = "^4.64.0"
xgboost = "^1.5.2"
scorecardpy = "^0.1.9.6"
transformers = "^4.32.0"
wget = "^3.2"
sentencepiece = "^0.1.99"
rouge = "^1.0.1"
langdetect = "^1.0.9"
textstat = "^0.7.3"

[tool.poetry.group.dev.dependencies]
black = "^22.1.0"
click = "^8.1.3"
cython = "^0.29.34"
flake8 = "^4.0.1"
ipykernel = "^6.22.0"
isort = "^5.12.0"
jupyter = "^1.0.0"
jupyterlab = "^3.6.3"
pre-commit = "^3.3.3"
pytest = "^5.2"
sphinx = "^6.1.3"
sphinx-markdown-builder = "^0.5.5"
sphinx-rtd-theme = "^1.2.0"
twine = "^4.0.2"

[tool.poetry.extras]
all = ["openai", "rpy2", "torch", "transformers"]
llm = ["torch", "transformers", "openai"]
pytorch = ["torch"]
r-support = ["rpy2"]
transformers = ["transformers"]

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.isort]
known_first_party = "validmind"
profile = "black"
