nav.pdoc {
    background: #F8FAFC;
    box-shadow: none;
    border-right: 1px solid #dee2e6;
    width: clamp(10rem, 18rem, 22rem);
}

nav input {
    margin-top: 40px;
    padding: 4px;
    appearance: none;
    background: white;
    border: 1px solid #dee2e6;
    border-radius: 4px;
}
