# This workflow will install Python dependencies and generate Markdown
# documentation from docstrings using Sphinx. We generate the HTML
# documentation to keep it up to date with the Markdown files

name: Framework API docs

on:
  push:
    branches:
      - main
      - release-v1
  workflow_dispatch:
    inputs:
      note:
        description: 'Provide a description of the changes'
        required: true
        default: 'Update docs'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: '3.11'
          cache: 'poetry'

      - name: Install Dependencies
        run: poetry install --all-extras

      - name: Install PyTorch CPU
        run: poetry run pip install torch --extra-index-url https://download.pytorch.org/whl/cpu

      - name: Generate Docs
        run: make docs

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: 'Generate docs'
          add: 'docs/_build/'
