# This workflow will install Python dependencies and generate Markdown
# documentation from docstrings using Sphinx. We generate the HTML
# documentation to keep it up to date with the Markdown files

name: Framework API docs

on:
  push:
    branches:
      - main
      - release-v1
      - john/fix-failing-gh-workflow
  workflow_dispatch:
    inputs:
      note:
        description: 'Provide a description of the changes'
        required: true
        default: 'Update docs'

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'poetry'

      - name: Install Dependencies
        run: |
          poetry env use python3.11
          poetry install -E huggingface -E llm
          poetry run pip install torch==2.0.1 --extra-index-url https://download.pytorch.org/whl/cpu
          poetry run pip install aequitas fairlearn vl-convert-python

      - name: Generate Docs
        run: make docs
