# This worklfow pushes the ValidMind Developer Framework package to PyPI

name: Publish to PyPI

on:
  push:
    branches:
      - prod
      - john/fix-failing-gh-workflow

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'poetry'

      - name: Install Dependencies
        run: poetry env use python3.11 && poetry install

      - name: Update twine
        run: poetry run pip install --upgrade twine

      - name: Publish to PyPI
        env:
          PYPI_USERNAME: __token__
          PYPI_PASSWORD: ${{ secrets.POETRY_PYPI_TOKEN_PYPI }}
        run: poetry build
